.Alone {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    width: 500px;
}

.Title {
    font-size: 2rem;
    font-weight: 800;
    margin: 10px auto;
}

.SubAlone {
    padding: 10px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    width: 400px;
}

.Button {
    padding: 5px;
    margin: 5px;
}
